#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr) ;
    grid-template-rows: repeat(16, 1fr) ;
    background-color: white;   
    border: solid 3px green;
    width: 800px; 
}

.grid-cell {
    height: 40px;
}
